<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" th:href="@{/css/myStyle.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
	<title>Elecciones Colombia</title>
	<link rel="icon" href="..\img\bandera.jpg">
</head>

<body>
	<header>
		<div class="logo-project">
			<img th:src="@{/img/voto.png}" alt="logo" class="logo">
			<h2 class="name-project">Vota App</h2>

		</div>

		<nav>
			<a th:href="@{/inicio}">Inicio</a>
			<a th:href="@{/votar}">Votar</a>
			<a th:href="@{/estadistica}">Estadistica Electoral</a>
		</nav>
	</header>
	<section>
		<!--introductorio de la pagina-->
		<h3>ELECCIONES COLOMBIA 2022</h3>
		<h3>Bienvenidos</h3>
		<p> Estimado Ciudadano, bienvenido a elegir el nuevo presidente de Colombia para el periodo 2022-2026</p>
		<p>
			Según la constitución de Colombia, pueden ejercer su derecho a sufragio los ciudadanos mayores de 18 años de
			edad que no hagan parte de la Fuerza Pública, no estén en un proceso de interdicción, y que no hayan sido
			condenados. Las personas que se encuentran en centros de reclusión, tales como cárceles o reformatorios,
			podrán votar en los establecimientos que determine la Registraduría Nacional. La inscripción en el registro
			civil no es automática, el ciudadano debe dirigirse a la sede regional de la Registraduría para inscribir su
			identificación personal en un puesto de votación.<br>

			La elección de presidente de la república se hace junto con la del vicepresidente, siendo este último su
			fórmula; la estadía en el cargo será de cuatro años sin posibilidad de reelección. El proceso de elección no
			se realizará simultáneamente con cualquier otro. La Constitución política en su artículo 191, establece que
			quien pretenda llegar al cargo debe ser colombiano de nacimiento y tener la nacionalidad, asimismo, ser
			mayor de treinta años. La primera vuelta se celebrará en febreo, que para el 2024 será el día 30, y
			resultará ganador quien haya obtenido la mitad más uno de los votos. En caso de que ninguno de los
			aspirantes obtenga esta ponderación de los votos, los dos candidatos que en primera vuelta hayan obtenido la
			mayoría de los votos irán a la segunda vuelta; el ganador será quien logre la mayoría de los votos.<br>

			Los organismos encargados de velar administrativamente por el evento son la Registraduría Nacional del
			Estado Civil y el consejo Nacional Electoral.

			El acto legislativo número 02 del 2015 decreta que el candidato presidencial que obtenga la segunda mayor
			votación obtendrá una curul en el Senado y su fórmula vicepresidencia obtendrá una curul en la Cámara de
			Representantes.
		</p>
		<p>Podrás votar por uno de los cuatro candidatos que participan en este debate electoral, a continuación
			encontrarás las imágenes de cada uno de ellos y si quieres saber más sobre alguno de los candidatos, puedes
			dar
			<b>click en la imagen del candidato</b> la cual lo llevara a la informacion detallada del candidato,
			tambien podra acceder a la pagina web del partido politico en el cual milita el candidato dando <b>click en
				el nombre del partido</b>.
		</p>
		<p> <b>
				<center> Para ejercer su derecho al voto, pulse la opción Votar del menú principal.</center>
			</b></p>
	</section>
	<div id="contenedor-cand">

		<div class="candidato">
			<div>
				<h2>Iván Duque</h2>
			</div>
			<div class="img-cand">
				<a th:href="@{https://www.buscabiografias.com/biografia/verDetalle/10493/Ivan%20Duque}"><img
						th:src="@{/img/c1.jpg}" alt="Iván Duque" width="200px" height="150px"></a>
			</div>
			<div class="info">
				<p>Licenciado como abogado con estudios superiores de filosofía y humanidades de la Universidad Sergio
					Arboleda. Realizó una maestría (LLM) en Derecho Internacional Económico en la American University, y
					Gerencia de Políticas Públicas en la Georgetown University.
				</p>

			</div>
			<div class="icono">
				<img th:src="@{/img/p1.png}" alt="Partido Renovar" width="50px">
				<a th:href="@{https://www.centrodemocratico.com/pilares-del-cd#5-di%c3%a1logo-popular}"><em>Partido
						Centro Democratico</em></a>
			</div>
		</div>

		<div class="candidato">
			<div>
				<h2>Claudia Lopez</h2>
			</div>
			<div class="img-cand">
				<a th:href="@{https://claudia-lopez.com/mi-historia/}"><img th:src="@{/img/c2.jpg}" alt="Claudia Lopez"
						width="200px" height="150px"></a>
			</div>

			<div class="info">
				<p>Graduada de Finanzas, Gobierno y Relaciones Internacionales en la Universidad Externado, hizo una
					maestría en Administración Pública y Política Urbana en la Universidad de Columbia en Nueva York.
					Fue fellow de la Universidad de Yale en 2009 y es doctora en ciencia política de la Universidad de
					Northwestern, en Chicago, gracias a una beca Fullbright
				</p>
			</div>
			<div class="icono">
				<img th:src="@{/img/p2.jpg}" alt="Partido AlPolo" width="50px">
				<a th:href="@{https://www.alianzaverde.org.co/nosotros/historia}"><em>Partido Alianza Verde</em></a>
			</div>
		</div>

		<div class="candidato">
			<div>
				<h2>Francia Marquez</h2>
			</div>
			<div class="img-cand">
				<a th:href="@{https://mujeresquehacenlahistoria.blogspot.com/2022/07/siglo-xx-francia-marquez.html}"><img
						th:src="@{/img/c3.jpg}" alt="Francia Marquez" width="200px" height="150px"></a>
			</div>

			<div class="info">
				<p>Francia Márquez es abogada por la Universidad Santiago de Cali, y en la actualidad se encuentra
					cursando una especialización en escrituras creativas de la Universidad ICESI. Líder social y
					activista ambiental en lucha contra el extractivismo indiscriminado de las mineras de su país desde
					hace décadas.
				</p>
			</div>
			<div class="icono">
				<img th:src="@{/img/p3.png}" alt="Partido Democratico" width="50px">
				<a th:href="@{https://es.wikipedia.org/wiki/Pacto_Hist%C3%B3rico}"><em>Pacto Histórico</em></a>
			</div>
		</div>

		<div class="candidato">
			<div>
				<h2>Humberto de la Calle</h2>
			</div>
			<div class="img-cand">
				<a th:href="@{https://delacalle.com.co/soy-de-la-calle/}"><img th:src="@{/img/c4.jpg}"
						alt="Humberto de la Calle" width="200px" height="150px"></a>
			</div>

			<div class="info">
				<p>Abogado, político, profesor, diplomático, escritor colombiano; con experiencia en políticas y asuntos
					públicos, derecho constitucional y administrativo. fue ministro del Interior en el gobierno de
					Andrés Pastrana, y como embajador ante la OEA.
				</p>
				<a th:href="@{/cand-4}"><em>

					</em></a>
			</div>
			<div class="icono">
				<img th:src="@{/img/p4.png}" alt="Partido republicano" width="50px">
				<a th:href="@{https://es.wikipedia.org/wiki/Partido_Verde_Ox%C3%ADgeno}"><em>Partido Verde
						Oxígeno</em></a>
			</div>
		</div>
	</div>
</body>

</html>