<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" th:href="@{/css/myStyle.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
	<title>Elecciones Colombia</title>
	<link rel="icon " href="..\img\bandera.jpg">
</head>

<body>
	<header>
		<div class="logo-project">
			<img th:src="@{/img/voto.png}" alt="logo" class="logo">
			<h2 class="name-project">Vota App</h2>

		</div>

		<nav>
			<a th:href="@{/inicio}">Inicio</a>
			<a th:href="@{/votar}">Votar</a>
			<a th:href="@{/estadistica}">Estadistica Electoral</a>
		</nav>
	</header>
	<section>
		<!--introductorio de la pagina-->
		<h1>ELECCIONES COLOMBIA 2022</h1>
		<h1>Bienvenidos</h1>
		<p> Estimado Ciudadano, bienvenido a elegir el nuevo presidente de Colombia para el periodo 2022-2026</p>
		<p>
			Según la constitución de Colombia, pueden ejercer su derecho a sufragio los ciudadanos mayores de 18 años de
			edad que no hagan parte de la Fuerza Pública, no estén en un proceso de interdicción, y que no hayan sido
			condenados. Las personas que se encuentran en centros de reclusión, tales como cárceles o reformatorios,
			podrán votar en los establecimientos que determine la Registraduría Nacional. La inscripción en el registro
			civil no es automática, el ciudadano debe dirigirse a la sede regional de la Registraduría para inscribir su
			identificación personal en un puesto de votación.4

			La elección de presidente de la república se hace junto con la del vicepresidente, siendo este último su
			fórmula; la estadía en el cargo será de cuatro años sin posibilidad de reelección. El proceso de elección no
			se realizará simultáneamente con cualquier otro. La Constitución política en su artículo 191, establece que
			quien pretenda llegar al cargo debe ser colombiano de nacimiento y tener la nacionalidad, asimismo, ser
			mayor de treinta años. La primera vuelta se celebrará en febreo, que para el 2024 será el día 30, y
			resultará ganador quien haya obtenido la mitad más uno de los votos. En caso de que ninguno de los
			aspirantes obtenga esta ponderación de los votos, los dos candidatos que en primera vuelta hayan obtenido la
			mayoría de los votos irán a la segunda vuelta; el ganador será quien logre la mayoría de los votos.5

			Los organismos encargados de velar administrativamente por el evento son la Registraduría Nacional del
			Estado Civil y el consejo Nacional Electoral.

			El acto legislativo número 02 del 2015 decreta que el candidato presidencial que obtenga la segunda mayor
			votación obtendrá una curul en el Senado y su fórmula vicepresidencia obtendrá una curul en la Cámara de
			Representantes.
		</p>
		<p>Usted podra votar por uno de los cuatro candidatos que participan en este debate electoral a continuacion
			encontrara las imagenes de cada uno de ellos y si desea conocer mas sobre algun candidato podra
			pulsar el link <b> Mas Informarcion </b> el cual lo llevara a la informacion detallada de cada candidato, su
			hoja de
			vida, trayectoria politica y principales obras y proyectos ejecutados, tambien podra acceder a la
			pagina web del partido politico en el cual milita el candidato</p>
		<p> <b>
				<center> Para ejercer su derecho al voto pulse sobre la opcion Votar que se encuentra en el menu
					pricipal </center>
			</b></p>
	</section>
	<div id="contenedor-cand">

		<div class="candidato">
			<div>
				<h2>Iván Duque</h2>
			</div>
			<div class="img-cand">
				<img th:src="@{/img/c1.jpg}" alt="Iván Duque" width="200px">
			</div>
			<div class="icono">
				<img th:src="@{/img/p1.jpg}" alt="Partido Renovar" width="50px">
				<p>Partido Renovar</p>
			</div>
			<div class="info">
				<a th:href="@{/cand-1}"><em>
					<p>
						Iván Duque Márquez (Bogotá; 1 de agosto de 1976) es un abogado, escritor y político
						colombiano. Fue presidente de Colombia desde el 7 de agosto de 2018 hasta el 7 de agosto de
						2022. Ejerció como senador de la República de Colombia desde el 20 de julio de 2014 hasta
						el 10 de abril de 2018.Trabajó como representante de Colombia ante el Banco
						Interamericano de Desarrollo.
					</p>
				</em></a>
			</div>
		</div>

		<div class="candidato">
			<div>
				<h2>Claudia Lopez</h2>
			</div>
			<div class="img-cand">
				<img th:src="@{/img/c2.jpg}" alt="Claudia Lopez" width="200px">
			</div>
			<div class="icono">
				<img th:src="@{/img/p2.jpg}" alt="Partido AlPolo" width="50px">
				<p>Partido ALPOLO</p>
			</div>
			<div class="info">
				<a th:href="@{/cand-2}"><em>
						<p>
							Claudia Lopez. La candidata de la Alianza Verde y el Polo Democrático (ALPOLO) remontó la
							ventaja que le llevaba en las encuestas a Carlos Fernando Galán. López obtuvo en el boletín 14 un
							porcentaje de los votos registrados del 35.31%. Y el apoyo de 919.420 bogotanos. Su madre, 
							María del Carmen Hernández, fue docente y lideresa sindical.
							Su padre, Reyes López, abandonó a su familia tras la muerte de su hermana menor, Marta. Es
							la mayor de seis hijos, y es graduada de Finanzas y Relaciones Internacionales de la
							Universidad Externado.
						</p>
					</em></a>
			</div>
		</div>

		<div class="candidato">
			<div>
				<h2>Francia Marquez</h2>
			</div>
			<div class="img-cand">
				<img th:src="@{/img/c3.jpg}" alt="Francia Marquez" width="200px">
			</div>
			<div class="icono">
				<img th:src="@{/img/p3.jpg}" alt="Partido Democratico" width="50px">
				<p>Partido Democratico</p>
			</div>
			<div class="info">
				<a th:href="@{/cand-3}"><em>
					<p>
						Francia Elena Márquez Mina (Suárez, Cauca, 1 de diciembre de 1981) es una líder social,
						activista medioambiental, defensora de derechos humanos, feminista, abogada, y política
						colombiana. Desde el 7 de agosto de 2022 es la vicepresidenta de la República de Colombia.
						Es la segunda mujer en ser vicepresidenta de la nación y la primera de origen
						afrocolombiano.
					</p>
				</em></a>
			</div>
		</div>

		<div class="candidato">
			<div>
				<h2>Humberto de la Calle</h2>
			</div>
			<div class="img-cand">
				<img th:src="@{/img/c4.jpg}" alt="Humberto de la Calle" width="200px">
			</div>
			<div class="icono">
				<img th:src="@{/img/p4.jpg}" alt="Partido" width="50px">
				<p>Partido Republicano</p>
			</div>
			<div class="info">
				<a th:href="@{/cand-4}"><em>
					<p>
						Humberto de La Calle Lombana (Manzanares, Caldas, 14 de julio de 1946), es un abogado,
						político, profesor, diplomático, escritor colombiano; con experiencia en políticas y asuntos
						públicos, derecho constitucional y administrativo. Pese a haber sido una ficha clave del
						Partido Liberal Colombiano en el pasado, en la actualidad es independiente. Es senador
						electo para el periodo 2022-2026.
					</p>
				</em></a>
			</div>
		</div>
	</div>
</body>

</html>