<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" th:href="@{/css/myStyle.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
	<title>Elecciones Colombia</title>
	<link rel="icon" href="..\img\bandera.jpg">
</head>

<body>
	<header>
		<div class="login">
			<img th:src="@{/img/voto.png}" alt="logo" class="logo">
			<h2 class="name-project">Vota App</h2>

		</div>
	</header>

	<section class="nota">
		<h3>Usuario no registrado en la base de datos :(</h3>
	</section>


	<section class="f-ingreso">
		<form name="ING" th:action="@{/validar}" method="post" th:object="${votante}">
			<div class="mb-3">
				<label for="identificacion" class="form-label">Identificación: </label>
				<input type="number" class="form-control" name="identificacion" required id="identificacion"
					aria-describedby="IdenHelp">
				<div id="IdenHelp" class="form-text">Digite su número de identificación (solo números).</div>
			</div>
			<div class="mb-3">
				<label for="clave" class="form-label">Password: </label>
				<input type="password" class="form-control" id="clave" name="clave" required
					aria-describedby="passHelp">
				<div id="passHelp" class="form-text">Digite su contraseña.</div>
			</div>
			<button type="submit" class="btn btn-primary">Ingresar</button>
		</form>
	</section>
</body>

</html>