body{
  font-family: sans-serif;
  margin: 0;
  padding-bottom: 20px;
}

header{
  display: flex;
  background-color: #2196f3;
  min-height: 70px;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  
}
.logo-project{
  display: flex;
  align-items: center;
}
.logo{
  height: 50px; 
  margin-right: 10px;
}
nav a {
  font-weight: 600;
  font-size: 20px;
  padding-right: 11px;
  color: white;
  text-decoration: none;
}
nav a:hover{
  color: black;
}

@media (max-width:600px){
  header{
    flex-direction: column;
 
  }
  nav{
    padding: 10px 0px;
  }
}

/* Cuerpo*/
section{
  margin: 15px;
}
section h3{
  text-align: center;
  font-size: 25px;
}

p{
  text-align: justify;
}
.red::first-line{
	color: red;
	font-weight: 700;
}
/*Cuadro candidato*/
#contenedor-cand{
  display: flex;
margin-left: 15px;
}
@media (max-width:830px){
  #contenedor-cand{
    flex-direction: column;
  }
  .candidato{
	  margin-top: 5px;
  }
}
.candidato{
  width: 400px;
  text-align: center;
  border: 1px solid black;
  margin-right: 5px;
}
.candidato h2{
 font-size: 18px;
}
.info{
 margin: 8px;
}
.icono a:hover{
  color: #8338ec;
}
.icono a{
font-weight: 600;
text-decoration: none;
}
.icono{
  flex-direction: column;
  padding-bottom: 15px;
}

.candidato button{
	margin: 10px;
	width: 60%;
}
/*--------------------------------------------------------------------------------------*/


#izq{
	width:80%;
	margin: 30px auto;
	padding: 15px auto;
	float: left;
}


#der{
	width:1300%;
	margin: 15px auto;
	padding: 15px auto;
	float: right;
}



#contenedor-can{
  display: flex;
margin-left: 10px;
}
@media (max-width:930px){
  #contenedor-can{
    flex-direction: column;
  }

}
/*--------------------------------------------------------------------------------------*/

.login{
	display:flex;
	margin:auto;
}
.login h2{
	padding-top: 10px;
}

.f-ingreso{
	width: 45%;
	margin: auto;
	padding-top: 5%;
}

.nota h3{
	margin-top: 50px;
}





























